@import 'https://fonts.googleapis.com/css?family=Istok+Web|Oxygen|Palanquin';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
body {
/* font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;  */
/*   font-family: 'Crimson Text', Arial, Helvetica, sans-serif;  */
 font-family: 'Palanquin', Arial, Helvetica, sans-serif;
 font-size: 1.1;
 margin-top: 0;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.1em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
code {
  white-space: inherit;
  font-size: .85em;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  font-size: .90em;
}

h1, h2, h3, h4, h5 {
  font-style: italic;
  color: rgb(47, 84, 150);
}

h1 {
  margin-top: 2em;
  font-style: italic;
  font-size: 2em;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.5em;
  border: none;
}

h3 {
  margin-top: 1.75em;
  margin-bottom: 1em;
  font-size: 1.25em;
}

h4 {
  margin-top: 1.5em;
  font-size: 1.1em;
}

h1.title {
  font-size: 2.25em;
  font-weight: 500;
}

dfn {
  color: #7d1633;
  font-style: normal;
  font-weight: 500;
}

blockquote p em{
  color: rgb(37, 74, 135);
  font-weight: 600;
  border-left-color: rgb(47, 84, 150)
}

blockquote.q {
  background-color: rgb(235,235,245);
}

blockquote footer {
  text-align: right;
  padding-right: 3em;
  font-size:small;
}

/* font-family does not change font, but needed for font-size, color */
span.math.display {
  font-family: "Lucida Console", Courier, monospace;
  font-size:1.1em;
}

.vid {
  color: rgb(74,87,165);
  background-color: rgb(236,242,254);
}

/* Reduce space between Plotly figures and captions */
.quarto-figure .html-widget {
  display: block;
  clear: both;
  margin-top: -.4em;
  margin-bottom: -.4em;
  padding-bottom: 0em;
}

.quarto-figure figcaption {
  clear: both;
  margin-top: -0.5em;
}